@import url('//fonts.googleapis.com/icon?family=Material+Icons');
body {
    margin: 0;
    background: #efefef;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cdk-overlay-pane {
    max-height: 80%;
    overflow-y: auto;
}